
.icon-home:before { content: '\e800'; } /* '' */
.icon-lock:before { content: '\e801'; } /* '' */
.icon-pokeball:before { content: '\e802'; } /* '' */
.icon-post-it:before { content: '\e803'; } /* '' */
.icon-alerte:before { content: '\e804'; } /* '' */
