#navbar {
  background: $B-primary;
  border-radius: $br-100;
  display: flex;
  width: calc(100% - 100px);
  justify-content: space-between;
  align-items: center;
  padding: 10px 25px;
  top: 25px;
  position: fixed;
  z-index: 999;
}

.joueur {
  display: flex;
  @include flexCenter;
  gap: 15px;
}

#pseudoJoueur {
  @include text($unbounded, 19px, $grp01, 700);

  @include mediaQueries("large-mobile") {
    display: none;
  }
}

#avatarJoueur {
  @include taille(50px, 50px);
  background: $grp01;
  padding: 5px;
  border-radius: $br-100;

  img {
    @include taille(40px, 40px);
    border-radius: $br-100;
    object-fit: cover;
  }
}

.liens {
  background: green;
  display: flex;
  gap: 5px;
  @extend %list;
  flex-wrap: wrap;
  justify-content: flex-end;

  a {
    @include text($inter, 16px, $text-white);
  }

  img {
    display: none;
  }
}

/* Style pour la modal */
.modal {
  display: none; /* Caché par défaut */
  position: fixed;
  z-index: 1000; /* Au-dessus de tout autre contenu */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5); /* Fond semi-transparent */
}

.modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.modal-close:hover,
.modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
